<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value = "{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
    <form method="post">
        <input type="hidden" name="_csrf" value = "{{_csrf.token}}"/>
        <input type="text" name="text" placeholder="Введите сообщение">
        <input type="text" name="tag" placeholder="Тэг">
        <button type="submit">Добавить</button>
    </form>
    <form method="post" action="filter">
        <input type="hidden" name="_csrf" value = "{{_csrf.token}}"/>
        <input type="text" name="filter" placeholder="Введите фильтр">
        <button type="submit">Отфильтровать</button>
    </form>
    <a href="/registration"> Add new user</a>

</div>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
{{/messages}}
</body>
</html>